<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="两列布局，左侧右侧均定宽"/>

<title>layout1</title>
<style type="text/css">
	.content{
	width:900px;
	margin: 0 auto;
	overflow:hidden;
	}
	.content.primary{
	width:500px;
	float:right;
	display:in-line;
	}
	.content.secondary{
	width:360px;
	float:left;
	display:in-line;
	}
</style>
</head>

<body>
<div class ="content">

<div class="primary">
<!-- the primary content goes here-->
</div>

<div class="secondary">
<!-- the secondary content goes here-->
</div>

</div>
</body>
</html>