<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="三列布局，右侧定宽，左侧和中间按比例自适应"/>
<title>layout6</title>
<style type="text/css">
	body{
	margin:0 auto;
    padding:0;
	width:1000px;
	}
	.secondary{
	width:200px
	height:300px;
	float:right;
	background:#888;
	}
	.primary{
	margin-right:220px;
	}
	#primary_one,#primary_two{
	width:48%;
	height:300px;
	background:#F60;
	}
	#primary_one{
	float:left;
	}
	#primary_two{
	float:right;
	}
</style>
</head>
<body>

<div class="primary">
	<div id="primary_one">
	<!-- the first content goes here-->
	</div>

	<div id="primary_two">
	<!-- the second content goes here-->
	</div>
</div>

<div class="secondary">
	<!-- the third content goes here-->
</div>

</body>
</html>