<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="两列布局，左侧自适应，右侧定宽"/>

<title>layout3</title>
<style type="text/css">
	body{
	width:1000px;
	margin: 0 auto;
	padding:0;
	}
	.primary{
	width:400px;
	height:400px;
	float:right;
	background:#888;
	}
	.secondary{
	height:400px;
	margin-right:420px;
	background:#F60;
	}
</style>
</head>

<body>

<div class="primary">
<!-- the primary content goes here-->
</div>

<div class="secondary">
<!-- the secondary content goes here-->
</div>

</body>
</html>