<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="两列布局，左侧右侧均定宽"/>

<title>layout1</title>
<style type="text/css">
	body{
	margin:0 auto;
    padding:0;
    width:1000px;
	}
	.primary{
	width:490px;
	height:400px;
	float:right;
	background:#888;
	}
	.secondary{
	width:490px;
	height:400px;
	float:left;
	background:#F60;
	}
</style>
</head>

<body>                    
<div class="primary">
<!-- the primary content goes here-->
</div>

<div class="secondary">
<!-- the secondary content goes here-->
</div>

</body>
</html>