<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="三列布局，左侧右侧定宽，中间自适应"/>

<title>layout4</title>
<style type="text/css">
    body{
	margin:0 auto;
    padding:0;
	width:1000px;
	}
	.primary,.tertiary{
	width:200px;
	height:300px;
	background:#888;
	}
	.primary{
	float:left;
	}
	secondary{
	float:left;
	width:100%;
	}
	.secondary_body{
	height:300px;
	margin:0 220px;
	background:#F60;
	}
	.tertiary{
	float:right;
	}
</style>
</head>

<body>
<div class="primary">
<!-- the first content goes here-->
</div>
<div class="tertiary">
<!-- the third content goes here-->
</div>
<div class="secondary">
<div class="secondary_body">
<!-- the second content goes here-->
</div>

</div>
</body>
</html>