<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="gbk">
<meta name="author" content="ningxuran"/>
<meta name="description" 
      content="三列的浮动布局,固定宽度"/>

	  
	content.primary{
	width:640px;
	float:right;
	display:in-line;
	}
	content.secondary{
	width:300px;
	float:left;
	display:in-line;
	}
	.content{
	overflow:hidden;
	}
	.content.primary.primary{
	float:left;
	width:300px;
	}
	.content.primary.secondary{
	float:right;
	width:300px;
	padding-right:20px;
	}
	  
<title>test</title>

</head>
<body>
<div class ="content">

<div class="primary">
	<div class="primary">

	</div>

	<div class="secondary">

	</div>
</div>

<div class="secondary">

</div>

</div>
</body>
</html>